@using RazorView1.Models
@model IEnumberable<Instructor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @ViewData["Message"]

        @foreach (var instructor in Model)
        {
            <div>
                <p>Name: @instructor.Name</p>
                <p>Twitter: @instructor.TwitterHandle</p>
                <p>HtmlDescription: @instructor.HtmlDescription</p>
            </div>
        }

        <br />
        <hr />

        @{
            var name = "Scott";
            name = name.ToLower();
            
            if(name.StartsWith("S"))
            {
                <div>Your name starts with S!</div>
            }
            else
            {
                <div>Your name doesn't start with S.</div>
            }
        }
        @@OdeToCode
        @for(int i=0; i<10; i++)
        {
            <div>@i</div>
        }
        <img src="@(name).jpg"/>
        
    </div>
</body>
</html>
